#about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* image */
#about-photo {
    position: relative;
    top: 8vh;
    /* background-color: crimson; */
    height: 100%;
    width: 50vw;
}

#about-photo>img {
    max-width: 100%;
    height: auto;
}

/* about */
#about {
    /* background-color: goldenrod; */
    height: 100%;
    width: 50vw;
}

#about>h1 {
    padding-left: 2vw;
    font-size: 5vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#about>p {
    padding-left: 2vw;
    font-size: 1.5vw;
    font-family: sans-serif;
}

/* for Tablets */
@media(max-width: 768px) {
    #about-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    /* image */
    #about-photo {
        position: relative;
        top: 8vh;
        /* background-color: crimson; */
        height: 50vh;
        width: 100vw;
    }

    #about-photo>img {
        max-width: auto;
        height: 100%;
    }


    #about {
        position: relative;
        top: 5vh;
        height: 100%;
        width: 85vw;
    }

    #about>h1 {
        padding-left: 0vw;
        margin-bottom: 1vh;
        font-size: 5vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #about>p {
        padding-left: 0vw;
        font-size: 2.4vh;
        font-family: sans-serif;
    }
}